Repository hmcts/aks-cft-deploy, pull requests merged in 2022-12, with the labels that each got.

#329 change to v5 skus in perftest
  environments/aks/perftest.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-network/no-changes

#335 remove acr creds from flux
  bootstrap/scripts/install-flux.sh
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/no-changes

#336 Enable csi plugin for perftest
  components/aks/aks.tf
  components/aks/inputs-required.tf
  environments/aks/perftest.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-network/no-changes

#310 Increase pod per node count for demo
  environments/aks/demo.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-network/no-changes

#338 change demo to v5 skus
  environments/aks/demo.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-network/no-changes

#350 Remove flux v1 scripts
  bootstrap/deployments/fluxcd/helm-operator-values.yaml
  bootstrap/deployments/fluxcd/values.yaml
  bootstrap/scripts/install-flux.sh
Labels: sbox-genesis/add-or-update, sbox-network/add-or-update, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-managed-identity/add-or-update, sbox-network-rg/add-or-update

#353 switch ITHC to v5
  environments/aks/ithc.tfvars
Labels: sbox-genesis/add-or-update, sbox-network/add-or-update, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-managed-identity/add-or-update, sbox-network-rg/add-or-update

#356 update aat to v5 skus
  environments/aks/aat.tfvars
Labels: sbox-genesis/add-or-update, sbox-network/add-or-update, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-managed-identity/add-or-update, sbox-network-rg/add-or-update

#357 ptl to v5
  environments/aks/ptl.tfvars
  environments/aks/ptlsbox.tfvars
Labels: sbox-genesis/add-or-update, sbox-network/add-or-update, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-managed-identity/add-or-update, sbox-network-rg/add-or-update
