Repository hmcts/aks-cft-deploy, pull requests merged in 2022-11, with the labels that each got.

#299 Dtspo 10591 aso feature
  components/aks/aks.tf
  components/aks/inputs-required.tf
  environments/aks/preview.tfvars
  environments/aks/sbox.tfvars
Labels: do-not-merge

#257 DTSPO-9695 Refactor pipelines to use CNP templates
  .gitignore
  README.md
  azure-pipelines.yml
  components/aks-mis/cft_aks.tf
  components/aks-mis/init.tf
  components/aks-mis/inputs-required.tf
  components/aks-mis/preview.tf
  components/aks/aks.tf
  components/aks/init.tf
  components/aks/inputs-required.tf
  components/aks/interpolated-defaults.tf
  components/genesis/genesis.tf
  components/genesis/inputs-default.tf
  components/genesis/inputs-required.tf
  components/managed-identity/inputs-default.tf
  components/managed-identity/inputs-required.tf
  components/managed-identity/interpolated-defaults.tf
  components/managed-identity/jenkins.tf
  components/managed-identity/log-analytics.tf
  components/managed-identity/managed-identity.tf
  components/managed-identity/network-permissions.tf
  components/network-rg/inputs-required.tf
  components/network-rg/network-rg.tf
  components/network/init.tf
  components/network/inputs-required.tf
  components/network/interpolated-defaults.tf
  components/network/network.tf
  components/network/peering.tf
  components/network/private-dns.tf
  components/network/routetable.tf
  pipeline-steps/bootstrap.yaml
  pipeline-steps/deploy-network.yaml
  pipeline-steps/deploy-service.yaml
  pipeline-steps/destroy-service.yaml
  pipeline-steps/genesis.yaml
  pipeline-steps/keyvault-read.yaml
  pipeline-steps/managed_identity.yaml
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks/add-or-update, sbox-aks-mis/add-or-update, sbox-network/no-changes

#302 Return current kubernetes version when no non-preview upgrades available
  updatecli/get-latest-aks-upgrade-version.sh
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/add-or-update, sbox-aks/destroy, sbox-network/no-changes

#304 Install custom rbac in bootstrap
  bootstrap/scripts/install-flux.sh
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-network/no-changes

#305 Disable service account from helm chart as it managed in flux
  bootstrap/deployments/fluxcd/helm-operator-values.yaml
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes

#306 Leave SA creation in helm chart control
  bootstrap/deployments/fluxcd/helm-operator-values.yaml
Labels: sbox-genesis/add-or-update

#307 dtspo-9269 change variable name
  components/managed-identity/managed-identity.tf
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-aks-mis/add-or-update, sbox-aks/destroy, sbox-network/no-changes, sbox-managed-identity/add-or-update

#309 Allow overriding pod count per node
  components/aks/aks.tf
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-network/no-changes

#312 Point updatecli at demo-01
  updatecli/values.github-action.yaml
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-network/no-changes

#313 Testing checking two clusters which will be used in preview and demo
  updatecli/get-latest-aks-upgrade-version.sh
  updatecli/updatecli.d/aks-version.yaml
  updatecli/values.github-action.yaml
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-network/no-changes

#314 Add flags for ASO
  environments/aks/demo.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-network/no-changes

#315 CHG5010199 stage-1 PTL upgrade
  environments/aks/ptl.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-network/no-changes

#258 DTSPO-9269 :: PTL:: Aks upgrade to 1.23
  environments/aks/ptl.tfvars
Labels: do-not-merge, sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-network/no-changes

#327 add missing services to resources
  bootstrap/roles/dynatrace-cluster-role-binding.yaml
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-network/no-changes

#331 Remove dynatrace registration
  README.md
  bootstrap/bootstrap.sh
  bootstrap/roles/dynatrace-cluster-role-binding.yaml
  bootstrap/scripts/register-cluster-with-dynatrace.sh
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-network/no-changes

#311 Increase pod per node count preview
  environments/aks/preview.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-network/no-changes

#332 DTSPO-10555: Preview : upgrade AKS
  environments/aks/preview.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-network/no-changes
