Repository hmcts/aks-cft-deploy, pull requests merged in 2023-11, with the labels that each got.

#571 Disable AKS diagnostics in nonprod
  components/aks/aks.tf
  components/aks/inputs-required.tf
  environments/aks/prod.tfvars
Labels: Genesis/add-or-update, Managed_Identity/add-or-update, Aks/no-changes, Network/add-or-update

#572 Scale spot instance to 0
  components/aks/aks.tf
Labels: Genesis/add-or-update

#573 Remove old managed-identities RG reference
  azure-pipelines.yml
  components/aks-mis/preview.tf
Labels: Genesis/add-or-update, Managed_Identity/add-or-update, Aks/no-changes, Network/add-or-update

#574 Update aat, prod, perftest with new postgres-extended subnet
  environments/network/aat.tfvars
  environments/network/perftest.tfvars
  environments/network/prod.tfvars
Labels: Genesis/add-or-update, Managed_Identity/add-or-update, Aks/no-changes, Network/add-or-update

#575 postgresql-extended vnet
  components/network/inputs-required.tf
  components/network/network.tf
  environments/network/aat.tfvars
  environments/network/demo.tfvars
  environments/network/ithc.tfvars
  environments/network/perftest.tfvars
  environments/network/preview.tfvars
  environments/network/prod.tfvars
  environments/network/ptl.tfvars
  environments/network/ptlsbox.tfvars
  environments/network/sbox.tfvars
Labels: Genesis/add-or-update, Managed_Identity/add-or-update, Aks/no-changes, Network/add-or-update

#576 Update sbox.tfvars
  environments/network/sbox.tfvars
Labels: Genesis/add-or-update

#577 Preview: Add preview 00 in aks tfvars so cluster is buildable
  environments/aks/preview.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#578 add new startupmode tag
  components/aks/aks.tf
  components/aks/inputs-default.tf
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#580 DTSPO-15888 Fix developer group name
  components/genesis/inputs-default.tf
Labels: Network/no-changes, Managed_Identity/add-or-update, Genesis/destroy

#582 Drop to one cluster on ITHC
  environments/aks/ithc.tfvars
Labels: Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes, Genesis/no-changes

#583 whitelist bais storage for non-prod
  environments/network/ptl.tfvars
Labels: Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes, Genesis/no-changes

#585 Update ptl.tfvars with correct subnet for postgresql-extended
  environments/network/ptl.tfvars
Labels: Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes, Genesis/no-changes
