Repository hmcts/aks-cft-deploy, pull requests merged in 2023-06, with the labels that each got.

#456 Updating renovate config
  renovate.json
Labels: sbox-genesis/add-or-update, sbox-network-rg/add-or-update

#459 Change sps ciaran
  azure-pipelines.yml
  components/aks-mis/init.tf
  components/aks/init.tf
  components/network-rg/init.tf
  pipeline-steps/deploy-service.yaml
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-aks/destroy, sbox-managed-identity/destroy

#461 Fix bootstrap
  azure-pipelines.yml
  bootstrap/bootstrap.sh
  bootstrap/scripts/get-aks-credentials.sh
  pipeline-steps/bootstrap.yaml
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-network/no-changes

#457 Add service endpoints to postgres subnet
  .github/workflows/run-updatecli.yaml
  components/aks-mis/preview.tf
  components/genesis/genesis.tf
  components/network-rg/inputs-required.tf
  components/network/network.tf
  components/network/peering.tf
  updatecli/get-latest-aks-upgrade-version.sh
Labels: sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-managed-identity/no-changes, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-genesis/destroy

#466 Align repo with changes to aks-module-network, fix logic in non-prod vnet peerings for AAT
  components/network/inputs-default.tf
  components/network/network.tf
  components/network/peering.tf
  environments/network/aat.tfvars
  environments/network/demo.tfvars
  environments/network/ithc.tfvars
  environments/network/perftest.tfvars
  environments/network/preview.tfvars
  environments/network/prod.tfvars
  environments/network/sbox.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-managed-identity/no-changes, sbox-aks/add-or-update, sbox-aks-mis/no-changes

#467 Upgrade AKS
  environments/aks/sbox.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-managed-identity/no-changes, sbox-aks/add-or-update, sbox-aks-mis/no-changes

#470 Upgrade ptlsbox
  environments/aks/ptlsbox.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-network/no-changes

#471 Add new subnet in ptl and ptlsbox
  environments/network/ptl.tfvars
  environments/network/ptlsbox.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-managed-identity/no-changes, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-network/no-changes

#468 Update serviceConnections
  azure-pipelines.yml
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-managed-identity/add-or-update, sbox-aks-mis/destroy

#475 return ss-dev-vnet route via nonprod hub
  environments/network/aat.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-aks/add-or-update, sbox-network/no-changes, sbox-managed-identity/add-or-update, sbox-aks-mis/destroy

#476 add idam prod return route from appgw
  environments/network/prod.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-aks/add-or-update, sbox-network/no-changes, sbox-managed-identity/add-or-update, sbox-aks-mis/destroy

#477 Remove peering to ukw sbox hub
  components/network/inputs-default.tf
  components/network/peering.tf
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-aks/add-or-update, sbox-managed-identity/add-or-update, sbox-network/destroy, sbox-aks-mis/destroy
