Repository hmcts/aks-cft-deploy, pull requests merged in 2023-10, with the labels that each got.

#544 cluster-upgrade-to-v1.27
  environments/aks/preview.tfvars
Labels: do-not-merge, Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#545 remove-cluster-00
  environments/aks/preview.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#543 Admin Namespace MI: change admin-mi(s) to infra subscription
  components/managed-identity/init.tf
  components/managed-identity/managed-identity.tf
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/destroy

#547 Admin Namespace: change admin-mi role to key vault secrets user
  components/managed-identity/managed-identity.tf
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/destroy

#548 adding nodepool for cronjobs sbox
  components/aks/aks.tf
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#549 update-cluster-version
  environments/aks/demo.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#551 update-code-version
  environments/aks/demo.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#553 update-code-version-cluster-upgrade
  environments/aks/aat.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#554 update-cluster-version
  environments/aks/aat.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#555 upgrade cft ithc 00 cluster to v1.27
  environments/aks/ithc.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#556 update-ptl-cluster-version
  environments/aks/ptl.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#557 Update to fix for ptl and ptlsbox with ternary
  pipeline-scripts/update-issuer-url.sh
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#559 upgrade cft ithc aks cluster 01
  environments/aks/ithc.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#560 DTSPO-14196: Update cluster version for 01
  components/aks-mis/cft_aks.tf
  environments/aks/perftest.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#561 Add role assignment back
  components/aks-mis/cft_aks.tf
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#564 update-cluster-version
  environments/aks/prod.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#562 DTSPO-12677 Remove external-dns from demo, add roles for preview admin-mi
  components/managed-identity/init.tf
  components/managed-identity/managed-identity.tf
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#567 update-version
  environments/aks/prod.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#566 Update to include preview.platform.hmcts.net zone
  components/managed-identity/managed-identity.tf
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#568 DTSPO-15105 Create a new node pool to test spot instances
  components/aks/aks.tf
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#569 Preview: add role assignment for aat-mi running in preview for dev acme keyVault
  components/managed-identity/managed-identity.tf
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes
