Repository hmcts/aks-cft-deploy, pull requests merged in 2023-01, with the labels that each got.

#358 DTSPO-11790 - remove unneeded depends_on
  components/aks/aks.tf
  environments/aks/ptl.tfvars
Labels: sbox-genesis/add-or-update, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-managed-identity/add-or-update, sbox-network-rg/add-or-update

#351 DTSPO-11424: Add AKS Auto Shutdown Service Principal
  components/aks/aks.tf
Labels: sbox-genesis/add-or-update, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-managed-identity/add-or-update, sbox-network-rg/add-or-update

#354 DTSPO-11790 - add expiresAfter tag
  components/aks/aks.tf
  components/aks/inputs-default.tf
  components/genesis/genesis.tf
  components/genesis/inputs-default.tf
  components/genesis/inputs-required.tf
  components/managed-identity/inputs-default.tf
  components/managed-identity/managed-identity.tf
  components/network-rg/inputs-default.tf
  components/network-rg/network-rg.tf
  components/network/inputs-default.tf
  components/network/network.tf
Labels: sbox-genesis/add-or-update, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-managed-identity/add-or-update, sbox-network-rg/add-or-update

#360 sbox v5
  environments/aks/sbox.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-aks-mis/no-changes, sbox-aks/destroy, sbox-managed-identity/add-or-update

#361 DTSPO-11432 - Add autoShutdown = true back to CFT SBOX
  environments/aks/sbox.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-managed-identity/add-or-update

#362 Adding autoShutdown tag to ptlsbox and ithc environments
  environments/aks/ithc.tfvars
  environments/aks/ptlsbox.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-managed-identity/add-or-update

#363 Dtspo 11432 adding auto shutdown tag to cft demo
  environments/aks/demo.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-managed-identity/add-or-update

#364 Add return route nonprod aks
  environments/network/aat.tfvars
  environments/network/demo.tfvars
  environments/network/ithc.tfvars
  environments/network/perftest.tfvars
  environments/network/sbox.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-managed-identity/add-or-update

#365 DTSPO-12205 - Destroy ptlsbox
  environments/aks/ptlsbox.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-managed-identity/add-or-update

#366 DTSPO-12205 - Re-add ptlsbox
  environments/aks/ptlsbox.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-managed-identity/add-or-update

#367 Update demo.tfvars
  environments/aks/demo.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-managed-identity/add-or-update

#368 Enabling Auto-Shutdown on PerfTest
  environments/aks/perftest.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-managed-identity/add-or-update

#370 Update demo.tfvars
  environments/aks/demo.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-managed-identity/add-or-update

#371 Update demo.tfvars
  environments/aks/demo.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-network/add-or-update, sbox-aks/add-or-update, sbox-aks-mis/no-changes, sbox-managed-identity/add-or-update
