Repository hmcts/aks-cft-deploy, pull requests merged in 2023-07, with the labels that each got.

#480 dtpso-12898: Update kubernetes version
  environments/aks/preview.tfvars
Labels: sbox-genesis/add-or-update, sbox-network-rg/no-changes, sbox-aks/add-or-update, sbox-network/no-changes, sbox-managed-identity/add-or-update, sbox-aks-mis/destroy

#482 Fix acme rg as per fixes in azure-enterprise
  azure-pipelines.yml
  components/managed-identity/interpolated-defaults.tf
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#483 fix one more reference to rg
  components/managed-identity/managed-identity.tf
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#485 comment out preview 01
  environments/aks/preview.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#486 Dtspo 13636
  components/network/inputs-default.tf
  components/network/peering.tf
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#487 upgrade perftest 00
  environments/aks/perftest.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#489 ITHC: update ithc-01 AKS version to GA 1.26
  environments/aks/ithc.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#490 ITHC: Upgrade ithc00 AKS version to 1.26
  environments/aks/ithc.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#491 Dtspo 12900
  environments/aks/perftest.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#484 DTSPO-13971 - Enable auto-shutdown via tag for aat, preview and ptl environments (DO NOT MERGE)
  environments/aks/aat.tfvars
  environments/aks/preview.tfvars
  environments/aks/ptl.tfvars
Labels: do-not-merge, Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#492 AAT: upgrade AAT-01 AKS to GA version 1.26
  environments/aks/aat.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#493 AAT: Upgrade AAT-00 AKS to GA version 1.26
  environments/aks/aat.tfvars
Labels: Genesis/add-or-update, Network/no-changes

#494 DTSPO-13563 - Add sandbox.platform.hmcts.net as private dns zone
  environments/network/ptl.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#495 Update demo01 to aks 1.26
  environments/aks/demo.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#496 Revert "DTSPO-13563 - Add sandbox.platform.hmcts.net as private dns zone"
  environments/network/ptl.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#498 Upgrade demo 00 to 1.26
  environments/aks/demo.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#499 dtsop-12899: upgrade provider
  components/aks/init.tf
  components/aks/inputs-required.tf
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy
