Repository hmcts/aks-cft-deploy, pull requests merged in 2023-09, with the labels that each got.

#526 Dtspo 13636
  components/managed-identity/managed-identity.tf
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#528 DTSPO-15007 - Re-add sbox-00
  environments/aks/sbox.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Aks/add-or-update, Managed_Identity/no-changes

#529 Dtspo 13636
  environments/aks/preview.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#530 Dtspo 13636
  environments/aks-mis/preview.tfvars
Labels: Genesis/add-or-update

#531 Dtspo 13636
  environments/aks-mis/preview.tfvars
  environments/aks/preview.tfvars
Labels: Genesis/add-or-update, Network/no-changes

#533 Dtspo 13636
  bootstrap/scripts/install-flux.sh
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#534 Dtspo 13636
  environments/aks-mis/preview.tfvars
  environments/aks/preview.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#535 Update ptl.tfvars
  environments/network/ptl.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#536 aks upgrade 1.27
  environments/aks/sbox.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#538 upgrade aks ptlsbox
  environments/aks/ptlsbox.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#537 DTSPO-15096 Auto-Update OIDC Issuer URL
  azure-pipelines.yml
  pipeline-scripts/update-issuer-url.sh
  pipeline-steps/bootstrap.yaml
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#539 Add admin namespace Managed Identity
  components/managed-identity/managed-identity.tf
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/destroy

#540 add cluster-00 to upgrade 01 1.27
  environments/aks/preview.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#541 Update script to include retries - add to docs
  README.md
  pipeline-scripts/update-issuer-url.sh
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#542 admin-<env>-mi: add Key Vault Reader role assignment to read certificates
  components/managed-identity/managed-identity.tf
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes
