Repository hmcts/aks-cft-deploy, pull requests merged in 2023-08, with the labels that each got.

#502 Adds preview 01 cluster in to test autodetect script
  environments/aks/preview.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#501 dtsop-12899: change address prefix
  environments/network/ptl.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#503 Revert "Adds preview 01 cluster in to test autodetect script"
  environments/aks/preview.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#511 fix bootstrap to new urls
  bootstrap/scripts/install-flux.sh
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/add-or-update

#509 DTSPO-13833 updating pat-token to use SP-token
  azure-pipelines.yml
  ci/terraform-lint.tests.ps1
  pipeline-scripts/pester-tests.ps1
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#497 dtsop-12899: upgrade aks cluster ptl
  environments/aks/ptl.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#513 Add ASO in bootstrap
  bootstrap/scripts/install-flux.sh
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#516 enabled workload identity
  environments/aks/ithc.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#517 enabled service operator for ITHC
  environments/aks/ithc.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#515 dtsop-12899: upgrade prod 01 to 1.26
  environments/aks/prod.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#518 enabling workload identity for rest of the envs
  components/aks/aks.tf
  components/aks/init.tf
  components/aks/inputs-required.tf
  environments/aks/demo.tfvars
  environments/aks/ithc.tfvars
  environments/aks/perftest.tfvars
  environments/aks/preview.tfvars
  environments/aks/prod.tfvars
  environments/aks/ptl.tfvars
  environments/aks/ptlsbox.tfvars
  environments/aks/sbox.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/destroy

#519 range are incorrectly added
  environments/network/ptlsbox.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Managed_Identity/add-or-update, Aks/no-changes

#521 Fix typo
  bootstrap/scripts/install-flux.sh
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#524 remove moved blocks
  components/aks/aks.tf
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes
