Repository hmcts/aks-cft-deploy, pull requests merged in 2024-10, with the labels that each got.

#673 spike/DTSPO-19112
  environments/aks/sbox.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructuremis/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_perftest - Genesis/no-changes, Genesis_aat - Genesis/no-changes, Genesis_preview - Genesis/no-changes, Network_demo - NetworkRg/no-changes, Network_perftest - NetworkRg/no-changes, Network_ithc - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_preview - NetworkRg/no-changes, Network_aat - NetworkRg/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_perftest - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Network_preview - DeployInfrastructure/no-changes, Network_aat - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_preview - DeployInfrastructure/add-or-update, Aks_perftest - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructuremis/no-changes, Aks_ithc - DeployInfrastructuremis/no-changes, Aks_perftest - DeployInfrastructuremis/no-changes, Aks_preview - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructuremis/no-changes, Genesis_ptl - Genesis/no-changes, Genesis_prod - Genesis/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructuremis/no-changes, Aks_prod - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/destroy

#674 Revert "spike/DTSPO-19112"
  environments/aks/sbox.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructuremis/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_perftest - Genesis/no-changes, Genesis_aat - Genesis/no-changes, Genesis_preview - Genesis/no-changes, Network_demo - NetworkRg/no-changes, Network_perftest - NetworkRg/no-changes, Network_ithc - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_preview - NetworkRg/no-changes, Network_aat - NetworkRg/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_perftest - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Network_preview - DeployInfrastructure/no-changes, Network_aat - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_preview - DeployInfrastructure/add-or-update, Aks_perftest - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructuremis/no-changes, Aks_ithc - DeployInfrastructuremis/no-changes, Aks_perftest - DeployInfrastructuremis/no-changes, Aks_preview - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructuremis/no-changes, Genesis_ptl - Genesis/no-changes, Genesis_prod - Genesis/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructuremis/no-changes, Aks_prod - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructure/no-changes

#675 Redeploying preview-00
  environments/aks/preview.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructuremis/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_perftest - Genesis/no-changes, Genesis_aat - Genesis/no-changes, Genesis_preview - Genesis/no-changes, Network_demo - NetworkRg/no-changes, Network_perftest - NetworkRg/no-changes, Network_ithc - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_preview - NetworkRg/no-changes, Network_aat - NetworkRg/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_perftest - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Network_preview - DeployInfrastructure/no-changes, Network_aat - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_preview - DeployInfrastructure/add-or-update, Aks_perftest - DeployInfrastructure/add-or-update, Aks_aat - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructuremis/no-changes, Aks_ithc - DeployInfrastructuremis/no-changes, Aks_perftest - DeployInfrastructuremis/no-changes, Aks_preview - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructuremis/no-changes, Genesis_ptl - Genesis/no-changes, Genesis_prod - Genesis/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructuremis/no-changes, Aks_prod - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update

#678 Update to allow custom linux node pool settings per cluster
  components/aks/aks.tf
  environments/aks/aat.tfvars
  environments/aks/demo.tfvars
  environments/aks/ithc.tfvars
  environments/aks/perftest.tfvars
  environments/aks/preview.tfvars
  environments/aks/prod.tfvars
  environments/aks/ptl.tfvars
  environments/aks/ptlsbox.tfvars
  environments/aks/sbox.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructuremis/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_perftest - Genesis/no-changes, Genesis_aat - Genesis/no-changes, Genesis_preview - Genesis/no-changes, Network_demo - NetworkRg/no-changes, Network_perftest - NetworkRg/no-changes, Network_ithc - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_preview - NetworkRg/no-changes, Network_aat - NetworkRg/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_perftest - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Network_preview - DeployInfrastructure/no-changes, Network_aat - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_perftest - DeployInfrastructure/add-or-update, Aks_aat - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructuremis/no-changes, Aks_ithc - DeployInfrastructuremis/no-changes, Aks_perftest - DeployInfrastructuremis/no-changes, Aks_preview - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructuremis/no-changes, Genesis_ptl - Genesis/no-changes, Genesis_prod - Genesis/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructuremis/no-changes, Aks_prod - DeployInfrastructuremis/no-changes, Aks_sbox - DeployInfrastructure/no-changes, Aks_preview - DeployInfrastructure/destroy

#679 Remove preview 00 after switch
  environments/aks/preview.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructuremis/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_perftest - Genesis/no-changes, Genesis_aat - Genesis/no-changes, Genesis_preview - Genesis/no-changes, Network_demo - NetworkRg/no-changes, Network_perftest - NetworkRg/no-changes, Network_ithc - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_preview - NetworkRg/no-changes, Network_aat - NetworkRg/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_perftest - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Network_preview - DeployInfrastructure/no-changes, Network_aat - DeployInfrastructure/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructuremis/no-changes, Aks_ithc - DeployInfrastructuremis/no-changes, Aks_perftest - DeployInfrastructuremis/no-changes, Aks_preview - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructuremis/no-changes, Genesis_ptl - Genesis/no-changes, Genesis_prod - Genesis/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructuremis/no-changes, Aks_prod - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/no-changes, Aks_preview - DeployInfrastructure/destroy, Aks_demo - DeployInfrastructure/no-changes, Aks_perftest - DeployInfrastructure/no-changes
