Repository hmcts/aks-cft-deploy, pull requests merged in 2024-04, with the labels that each got.

#621 DTSPO-16593 - Upgraded ptlsbox Cluster to 1.29.2
  environments/aks/ptlsbox.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#623 DTSPO-16593 - Update sbox.tfvars
  environments/aks/sbox.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#625 DTSPO-16593 - correcting k8s version
  environments/aks/ptlsbox.tfvars
  environments/aks/sbox.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#626 DTSPO-16594 - upgrade ithc cluster
  environments/aks/ithc.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#627 DTSPO-16594 - upgrade demo cluster
  environments/aks/demo.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#629 DTSPO-16594 - aat upgraded
  environments/aks/aat.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#630 DTSPO-16594 - perftest upgraded
  environments/aks/perftest.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#631 DTSPO-16595 - upgraded ptl
  environments/aks/ptl.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#632 DTSPO-16595 - upgraded prod
  environments/aks/prod.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#620 Dtspo 15799 pipeline checks all envs
  azure-pipelines.yml
  environments/aks-mis/preview.tfvars
  environments/aks/preview.tfvars
  environments/network/ptlsbox.tfvars
  pipeline-steps/bootstrap.yaml
  pipeline-steps/deploy-service.yaml
  scripts/checking-clusters.sh
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_aat/no-changes, Managed_Identity_preview/add-or-update, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_ptlsbox/no-changes

#633 edit default plan and fix issue with condition
  azure-pipelines.yml
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes

#635 edit condition and action to apply on pr
  azure-pipelines.yml
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes
