Repository hmcts/aks-cft-deploy, pull requests merged in 2024-12, with the labels that each got.

#685 Updating azurerm to 4.9.0
  components/aks/aks.tf
  components/aks/init.tf
  components/aks/inputs-default.tf
  environments/aks/aat.tfvars
  environments/aks/demo.tfvars
  environments/aks/ithc.tfvars
  environments/aks/perftest.tfvars
  environments/aks/preview.tfvars
  environments/aks/prod.tfvars
  environments/aks/ptl.tfvars
  environments/aks/ptlsbox.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructuremis/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_perftest - Genesis/no-changes, Genesis_aat - Genesis/no-changes, Genesis_preview - Genesis/no-changes, Network_demo - NetworkRg/no-changes, Network_perftest - NetworkRg/no-changes, Network_ithc - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_preview - NetworkRg/no-changes, Network_aat - NetworkRg/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_perftest - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Network_preview - DeployInfrastructure/no-changes, Network_aat - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_preview - DeployInfrastructure/add-or-update, Aks_perftest - DeployInfrastructure/add-or-update, Aks_aat - DeployInfrastructure/add-or-update, Aks_demo - DeployInfrastructuremis/no-changes, Aks_ithc - DeployInfrastructuremis/no-changes, Aks_perftest - DeployInfrastructuremis/no-changes, Aks_preview - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructuremis/no-changes, Genesis_ptl - Genesis/no-changes, Genesis_prod - Genesis/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructuremis/no-changes, Aks_prod - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructure/add-or-update

#687 DTSPO-22631 - add custom settting for cluster into map value
  components/aks/aks.tf
  components/aks/inputs-default.tf
  components/aks/inputs-required.tf
  environments/aks/aat.tfvars
  environments/aks/demo.tfvars
  environments/aks/ithc.tfvars
  environments/aks/perftest.tfvars
  environments/aks/preview.tfvars
  environments/aks/prod.tfvars
  environments/aks/ptl.tfvars
  environments/aks/ptlsbox.tfvars
  environments/aks/sbox.tfvars
  environments/aks/tes.tf
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructuremis/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_perftest - Genesis/no-changes, Genesis_aat - Genesis/no-changes, Genesis_preview - Genesis/no-changes, Network_demo - NetworkRg/no-changes, Network_perftest - NetworkRg/no-changes, Network_ithc - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_preview - NetworkRg/no-changes, Network_aat - NetworkRg/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_perftest - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Network_preview - DeployInfrastructure/no-changes, Network_aat - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_preview - DeployInfrastructure/add-or-update, Aks_perftest - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructuremis/no-changes, Aks_ithc - DeployInfrastructuremis/no-changes, Aks_perftest - DeployInfrastructuremis/no-changes, Aks_preview - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructuremis/no-changes, Genesis_ptl - Genesis/no-changes, Genesis_prod - Genesis/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructuremis/no-changes, Aks_prod - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructure/no-changes

#688 Upgrade aks-mis component azurerm version
  components/aks-mis/init.tf
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructuremis/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_perftest - Genesis/no-changes, Genesis_aat - Genesis/no-changes, Genesis_preview - Genesis/no-changes, Network_demo - NetworkRg/no-changes, Network_perftest - NetworkRg/no-changes, Network_ithc - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_preview - NetworkRg/no-changes, Network_aat - NetworkRg/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_perftest - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Network_preview - DeployInfrastructure/no-changes, Network_aat - DeployInfrastructure/no-changes, Aks_ithc - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructuremis/no-changes, Aks_ithc - DeployInfrastructuremis/no-changes, Aks_perftest - DeployInfrastructuremis/no-changes, Aks_preview - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructuremis/no-changes, Genesis_ptl - Genesis/no-changes, Genesis_prod - Genesis/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructuremis/no-changes, Aks_prod - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/no-changes, Managed_Identity_aat - Managed_Identity/no-changes, Aks_preview - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/no-changes, Aks_perftest - DeployInfrastructure/no-changes

#689 Update to use same agent pool for AKS in sds
  azure-pipelines.yml
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructuremis/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_perftest - Genesis/no-changes, Genesis_aat - Genesis/no-changes, Genesis_preview - Genesis/no-changes, Network_demo - NetworkRg/no-changes, Network_perftest - NetworkRg/no-changes, Network_ithc - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_preview - NetworkRg/no-changes, Network_aat - NetworkRg/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_perftest - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Network_preview - DeployInfrastructure/no-changes, Network_aat - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_preview - DeployInfrastructure/add-or-update, Aks_perftest - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructuremis/no-changes, Aks_ithc - DeployInfrastructuremis/no-changes, Aks_perftest - DeployInfrastructuremis/no-changes, Aks_preview - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructuremis/no-changes, Genesis_ptl - Genesis/no-changes, Genesis_prod - Genesis/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructuremis/no-changes, Aks_prod - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructure/no-changes, Managed_Identity_aat - Managed_Identity/no-changes

#690 Update tf version to match SDS
  components/aks-mis/init.tf
  components/aks/init.tf
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructuremis/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_perftest - Genesis/no-changes, Genesis_aat - Genesis/no-changes, Genesis_preview - Genesis/no-changes, Network_demo - NetworkRg/no-changes, Network_perftest - NetworkRg/no-changes, Network_ithc - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_preview - NetworkRg/no-changes, Network_aat - NetworkRg/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_perftest - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Network_preview - DeployInfrastructure/no-changes, Network_aat - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_preview - DeployInfrastructure/add-or-update, Aks_perftest - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructuremis/no-changes, Aks_ithc - DeployInfrastructuremis/no-changes, Aks_perftest - DeployInfrastructuremis/no-changes, Aks_preview - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructuremis/no-changes, Genesis_ptl - Genesis/no-changes, Genesis_prod - Genesis/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructuremis/no-changes, Aks_prod - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructure/no-changes, Managed_Identity_aat - Managed_Identity/no-changes

#691 remove test.tfvars - no longer required
  environments/aks/tes.tf
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructuremis/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_perftest - Genesis/no-changes, Genesis_aat - Genesis/no-changes, Genesis_preview - Genesis/no-changes, Network_demo - NetworkRg/no-changes, Network_perftest - NetworkRg/no-changes, Network_ithc - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_preview - NetworkRg/no-changes, Network_aat - NetworkRg/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_perftest - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Network_preview - DeployInfrastructure/no-changes, Network_aat - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_preview - DeployInfrastructure/add-or-update, Aks_perftest - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructuremis/no-changes, Aks_ithc - DeployInfrastructuremis/no-changes, Aks_perftest - DeployInfrastructuremis/no-changes, Aks_preview - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructuremis/no-changes, Genesis_ptl - Genesis/no-changes, Genesis_prod - Genesis/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructuremis/no-changes, Aks_prod - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructure/no-changes, Managed_Identity_aat - Managed_Identity/no-changes
