Repository hmcts/aks-cft-deploy, pull requests merged in 2024-05, with the labels that each got.

#636 add AEP
  .github/workflows/pr-reviewer.yml
  .github/workflows/pr-summary.yml
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_aat/no-changes, Managed_Identity_preview/add-or-update, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_ptlsbox/no-changes

#637 add preview-01
  environments/aks/preview.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_aat/no-changes, Managed_Identity_preview/add-or-update, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_ptlsbox/no-changes

#638 Revert "add preview-01"
  environments/aks/preview.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes

#639 Add missing routes to dynatrace
  environments/network/aat.tfvars
  environments/network/demo.tfvars
  environments/network/ithc.tfvars
  environments/network/perftest.tfvars
  environments/network/preview.tfvars
  environments/network/sbox.tfvars
Labels: Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Genesis_perftest/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes, Network_sbox/add-or-update, Network_aat/add-or-update, Network_ithc/add-or-update, Network_demo/add-or-update, Network_preview/add-or-update, Network_perftest/add-or-update

#640 Add missing routes to dynatrace
  environments/network/ptlsbox.tfvars
  environments/network/sbox.tfvars
Labels: Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Network_ptlsbox/add-or-update, Managed_Identity_aat/no-changes, Managed_Identity_preview/add-or-update, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_ptlsbox/no-changes, Network_sbox/add-or-update
