Repository hmcts/aks-cft-deploy, pull requests merged in 2024-09, with the labels that each got.

#655 Redeploy preview-01
  environments/aks/preview.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes

#656 upgrade sbox cft 00 to 1.30 AKS Version
  environments/aks/sbox.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes

#657 upgrade sbox to 1.30 aks version
  environments/aks/sbox.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes

#659 DTSPO-18669 Upgrade CFT NonProd AKS Clusters to Kubernetes 1.30 Upgrade ithc cluster to 1.30
  environments/aks/ithc.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes

#660 DTSPO-18669 Upgrade CFT NonProd AKS Clusters to Kubernetes 1.30 - Upgrade demo 00 to 1.30
  environments/aks/demo.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes

#654 Reverting changes that added temporary Azure Linux Node Pools to sbox and sbox ptl
  components/aks/aks.tf
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_aat/no-changes, Managed_Identity_preview/add-or-update, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_ptlsbox/no-changes

#661 Removing 00 cluster
  environments/aks/preview.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes

#662 Update aks version to 1.30
  environments/aks-mis/preview.tfvars
  environments/aks/demo.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_preview/destroy, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes

#663 Upgrade ptlsbox aks to 1.30
  environments/aks/ptlsbox.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes

#664 Upgrade CFT NonProd AKS Clusters to Kubernetes 1.30 - upgrade 01 to 1.30 aks version
  environments/aks/aat.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_aat/no-changes, Managed_Identity_preview/add-or-update, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_ptlsbox/no-changes

#665 DTSPO-18669 Upgrade CFT NonProd AKS Clusters to Kubernetes 1.30 - Update aat to 1.30
  environments/aks/aat.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes

#668 PTL: Upgrade AKS version to 1.30
  environments/aks/ptl.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes

#669 update perftest-00 to 1.30
  environments/aks/perftest.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes

#670 Upgrade CFT NonProd AKS Clusters to Kubernetes 1.30 - update-perftest-to-1.30
  environments/aks/perftest.tfvars
Labels: Network_sbox/no-changes, Genesis_sbox/no-changes, Managed_Identity_sbox/no-changes, Aks_sbox/no-changes, Network_ptlsbox/no-changes, Network_preview/no-changes, Network_aat/no-changes, Network_ithc/no-changes, Genesis_demo/no-changes, Genesis_preview/no-changes, Network_perftest/no-changes, Genesis_perftest/no-changes, Network_demo/no-changes, Genesis_aat/no-changes, Genesis_ithc/no-changes, Managed_Identity_ithc/no-changes, Managed_Identity_perftest/no-changes, Managed_Identity_demo/no-changes, Aks_ptlsbox/no-changes, Aks_perftest/no-changes, Aks_aat/no-changes, Aks_ithc/no-changes, Aks_preview/no-changes, Network_ptl/no-changes, Genesis_prod/no-changes, Genesis_ptl/no-changes, Network_prod/no-changes, Aks_demo/no-changes, Managed_Identity_ptl/no-changes, Managed_Identity_prod/no-changes, Aks_ptl/no-changes, Aks_prod/no-changes, Genesis_ptlsbox/no-changes, Managed_Identity_aat/add-or-update, Managed_Identity_preview/no-changes, Managed_Identity_ptlsbox/no-changes

#671 Upgrade CFT Prod AKS Clusters to Kubernetes 1.30 - Update CFT-AKS-PROD-00-AKS to 1.30
  environments/aks/prod.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructuremis/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_perftest - Genesis/no-changes, Genesis_aat - Genesis/no-changes, Genesis_preview - Genesis/no-changes, Network_demo - NetworkRg/no-changes, Network_perftest - NetworkRg/no-changes, Network_ithc - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_preview - NetworkRg/no-changes, Network_aat - NetworkRg/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_perftest - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Network_preview - DeployInfrastructure/no-changes, Network_aat - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_preview - DeployInfrastructure/add-or-update, Aks_perftest - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructuremis/no-changes, Aks_ithc - DeployInfrastructuremis/no-changes, Aks_perftest - DeployInfrastructuremis/no-changes, Aks_preview - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructuremis/no-changes, Genesis_ptl - Genesis/no-changes, Genesis_prod - Genesis/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructuremis/no-changes, Aks_prod - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructure/no-changes, Managed_Identity_aat - Managed_Identity/no-changes

#672 Upgrade CFT Prod AKS Clusters to Kubernetes 1.30 - Update to 1.30
  components/aks/init.tf
  environments/aks/prod.tfvars
Labels: Genesis_sbox - Genesis/no-changes, Network_sbox - NetworkRg/no-changes, Network_sbox - DeployInfrastructure/no-changes, Aks_sbox - DeployInfrastructure/add-or-update, Aks_sbox - DeployInfrastructuremis/no-changes, Genesis_demo - Genesis/no-changes, Genesis_ptlsbox - Genesis/no-changes, Genesis_ithc - Genesis/no-changes, Genesis_perftest - Genesis/no-changes, Genesis_aat - Genesis/no-changes, Genesis_preview - Genesis/no-changes, Network_demo - NetworkRg/no-changes, Network_perftest - NetworkRg/no-changes, Network_ithc - NetworkRg/no-changes, Network_ptlsbox - NetworkRg/no-changes, Network_preview - NetworkRg/no-changes, Network_aat - NetworkRg/no-changes, Network_demo - DeployInfrastructure/no-changes, Network_ithc - DeployInfrastructure/no-changes, Network_perftest - DeployInfrastructure/no-changes, Network_ptlsbox - DeployInfrastructure/no-changes, Network_preview - DeployInfrastructure/no-changes, Network_aat - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructure/add-or-update, Aks_ithc - DeployInfrastructure/add-or-update, Aks_preview - DeployInfrastructure/add-or-update, Aks_perftest - DeployInfrastructure/add-or-update, Aks_ptlsbox - DeployInfrastructure/no-changes, Aks_demo - DeployInfrastructuremis/no-changes, Aks_ithc - DeployInfrastructuremis/no-changes, Aks_perftest - DeployInfrastructuremis/no-changes, Aks_preview - DeployInfrastructuremis/no-changes, Aks_ptlsbox - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructuremis/no-changes, Genesis_ptl - Genesis/no-changes, Genesis_prod - Genesis/no-changes, Network_ptl - NetworkRg/no-changes, Network_prod - NetworkRg/no-changes, Network_ptl - DeployInfrastructure/no-changes, Network_prod - DeployInfrastructure/no-changes, Managed_Identity_ptl - Managed_Identity/no-changes, Aks_ptl - DeployInfrastructure/no-changes, Aks_prod - DeployInfrastructure/add-or-update, Aks_ptl - DeployInfrastructuremis/no-changes, Aks_prod - DeployInfrastructuremis/no-changes, Aks_aat - DeployInfrastructure/no-changes, Managed_Identity_aat - Managed_Identity/no-changes
