Repository hmcts/aks-cft-deploy, pull requests merged in 2024-01, with the labels that each got.

#592 upgrade ithc cluster 00 to v1.28
  environments/aks/ithc.tfvars
Labels: do-not-merge, Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#593 cluster 00 version upgrade v1.28
  environments/aks/perftest.tfvars
Labels: Genesis/add-or-update, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes

#594 cluster 01 version upgrade v1.28
  environments/aks/perftest.tfvars
Labels: do-not-merge, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#595 update code cluster version upgrade v1.28
  environments/aks/demo.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#597 aks version upgrade v1.28
  environments/aks/aat.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#598 update code aks version upgrade v1.28
  environments/aks/aat.tfvars
Labels: do-not-merge, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#599 update code aks version upgrade v1.28
  environments/aks/preview.tfvars
Labels: do-not-merge, Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#600 Add route from bais to nonprod
  environments/network/ptl.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#601 update aks version code
  environments/aks/ptl.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#602 Revert "update aks version code"
  environments/aks/ptl.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#604 update aks version to 1.28 prod 00
  environments/aks/prod.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#605 upgrade aks version to 1.28 prod 01
  environments/aks/prod.tfvars
Labels: Network/no-changes, Aks/no-changes, Managed_Identity/no-changes, Genesis/no-changes

#607 Dtspo 15819
  pipeline-steps/bootstrap.yaml
Labels: Network/no-changes, Managed_Identity/no-changes, Genesis/no-changes
