Repository hmcts/aks-cft-deploy, pull requests merged in 2025-05, with the labels that each got.

#706 Route back to PTL from perftest
  environments/network/perftest.tfvars
Labels: 766: Genesis_sbox - Genesis/add-or-update, 766: Network_sbox - NetworkRg/no-changes, 766: Aks_sbox - DeployInfrastructure/add-or-update, 766: Aks_sbox - DeployInfrastructuremis/no-changes, 766: Genesis_preview - Genesis/add-or-update, 766: Genesis_ptlsbox - Genesis/add-or-update, 766: Genesis_aat - Genesis/add-or-update, 766: Genesis_demo - Genesis/add-or-update, 766: Genesis_perftest - Genesis/add-or-update, 766: Genesis_ithc - Genesis/add-or-update, 766: Network_preview - NetworkRg/no-changes, 766: Network_ptlsbox - NetworkRg/no-changes, 766: Network_demo - NetworkRg/no-changes, 766: Network_perftest - NetworkRg/no-changes, 766: Network_aat - NetworkRg/no-changes, 766: Network_ithc - NetworkRg/no-changes, 766: Aks_ptlsbox - DeployInfrastructure/no-changes, 766: Aks_ithc - DeployInfrastructure/add-or-update, 766: Aks_aat - DeployInfrastructure/no-changes, 766: Aks_demo - DeployInfrastructure/destroy, 766: Aks_ithc - DeployInfrastructuremis/no-changes, 766: Aks_demo - DeployInfrastructuremis/no-changes, 766: Aks_aat - DeployInfrastructuremis/no-changes, 766: Genesis_ptl - Genesis/add-or-update, 766: Genesis_prod - Genesis/add-or-update, 766: Network_ptl - NetworkRg/no-changes, 766: Network_prod - NetworkRg/no-changes, 766: Aks_ptl - DeployInfrastructure/no-changes, 766: Aks_prod - DeployInfrastructure/add-or-update, 766: Aks_ptl - DeployInfrastructuremis/no-changes, 766: Aks_prod - DeployInfrastructuremis/no-changes

#707 Upgrading sbox and ptlsbox to V1.32
  environments/aks/ptlsbox.tfvars
  environments/aks/sbox.tfvars
Labels: 766: Genesis_sbox - Genesis/add-or-update, 766: Network_sbox - NetworkRg/no-changes, 766: Aks_sbox - DeployInfrastructure/add-or-update, 766: Aks_sbox - DeployInfrastructuremis/no-changes, 766: Genesis_preview - Genesis/add-or-update, 766: Genesis_ptlsbox - Genesis/add-or-update, 766: Genesis_aat - Genesis/add-or-update, 766: Genesis_demo - Genesis/add-or-update, 766: Genesis_perftest - Genesis/add-or-update, 766: Genesis_ithc - Genesis/add-or-update, 766: Network_preview - NetworkRg/no-changes, 766: Network_ptlsbox - NetworkRg/no-changes, 766: Network_demo - NetworkRg/no-changes, 766: Network_perftest - NetworkRg/no-changes, 766: Network_aat - NetworkRg/no-changes, 766: Network_ithc - NetworkRg/no-changes, 766: Aks_ptlsbox - DeployInfrastructure/no-changes, 766: Aks_ithc - DeployInfrastructure/add-or-update, 766: Aks_aat - DeployInfrastructure/no-changes, 766: Aks_demo - DeployInfrastructure/destroy, 766: Aks_ithc - DeployInfrastructuremis/no-changes, 766: Aks_demo - DeployInfrastructuremis/no-changes, 766: Aks_aat - DeployInfrastructuremis/no-changes, 766: Genesis_ptl - Genesis/add-or-update, 766: Genesis_prod - Genesis/add-or-update, 766: Network_ptl - NetworkRg/no-changes, 766: Network_prod - NetworkRg/no-changes, 766: Aks_ptl - DeployInfrastructure/no-changes, 766: Aks_prod - DeployInfrastructure/add-or-update, 766: Aks_ptl - DeployInfrastructuremis/no-changes, 766: Aks_prod - DeployInfrastructuremis/no-changes

#709 Upgrading sbox-01 to V1.32
  environments/aks/sbox.tfvars
Labels: 766: Genesis_sbox - Genesis/add-or-update, 766: Network_sbox - NetworkRg/no-changes, 766: Aks_sbox - DeployInfrastructure/add-or-update, 766: Aks_sbox - DeployInfrastructuremis/no-changes, 766: Genesis_ptlsbox - Genesis/add-or-update, 766: Genesis_aat - Genesis/add-or-update, 766: Genesis_demo - Genesis/add-or-update, 766: Genesis_perftest - Genesis/add-or-update, 766: Genesis_ithc - Genesis/add-or-update, 766: Network_preview - NetworkRg/no-changes, 766: Network_ptlsbox - NetworkRg/no-changes, 766: Network_demo - NetworkRg/no-changes, 766: Network_perftest - NetworkRg/no-changes, 766: Network_aat - NetworkRg/no-changes, 766: Network_ithc - NetworkRg/no-changes, 766: Aks_ptlsbox - DeployInfrastructure/no-changes, 766: Aks_ithc - DeployInfrastructure/add-or-update, 766: Aks_aat - DeployInfrastructure/no-changes, 766: Aks_demo - DeployInfrastructure/destroy, 766: Aks_ithc - DeployInfrastructuremis/no-changes, 766: Aks_demo - DeployInfrastructuremis/no-changes, 766: Aks_aat - DeployInfrastructuremis/no-changes, 766: Genesis_ptl - Genesis/add-or-update, 766: Genesis_prod - Genesis/add-or-update, 766: Network_ptl - NetworkRg/no-changes, 766: Network_prod - NetworkRg/no-changes, 766: Aks_ptl - DeployInfrastructure/no-changes, 766: Aks_prod - DeployInfrastructure/add-or-update, 766: Aks_ptl - DeployInfrastructuremis/no-changes, 766: Aks_prod - DeployInfrastructuremis/no-changes, 766: Genesis_preview - Genesis/no-changes

#710 Upgrading AKS version for ptlsbox
  environments/aks/ptlsbox.tfvars
Labels: 766: Genesis_sbox - Genesis/add-or-update, 766: Network_sbox - NetworkRg/no-changes, 766: Aks_sbox - DeployInfrastructuremis/no-changes, 766: Genesis_ptlsbox - Genesis/add-or-update, 766: Genesis_aat - Genesis/add-or-update, 766: Genesis_demo - Genesis/add-or-update, 766: Genesis_perftest - Genesis/add-or-update, 766: Genesis_ithc - Genesis/add-or-update, 766: Network_preview - NetworkRg/no-changes, 766: Network_ptlsbox - NetworkRg/no-changes, 766: Network_demo - NetworkRg/no-changes, 766: Network_perftest - NetworkRg/no-changes, 766: Network_aat - NetworkRg/no-changes, 766: Network_ithc - NetworkRg/no-changes, 766: Aks_ithc - DeployInfrastructure/add-or-update, 766: Aks_aat - DeployInfrastructure/no-changes, 766: Aks_demo - DeployInfrastructure/destroy, 766: Aks_ithc - DeployInfrastructuremis/no-changes, 766: Aks_demo - DeployInfrastructuremis/no-changes, 766: Aks_aat - DeployInfrastructuremis/no-changes, 766: Genesis_ptl - Genesis/add-or-update, 766: Genesis_prod - Genesis/add-or-update, 766: Network_ptl - NetworkRg/no-changes, 766: Network_prod - NetworkRg/no-changes, 766: Aks_ptl - DeployInfrastructure/no-changes, 766: Aks_prod - DeployInfrastructure/add-or-update, 766: Aks_ptl - DeployInfrastructuremis/no-changes, 766: Aks_prod - DeployInfrastructuremis/no-changes, 766: Genesis_preview - Genesis/no-changes, 766: Network_aat - DeployInfrastructure/no-changes, 766: Network_ptl - DeployInfrastructure/no-changes, 766: Aks_sbox - DeployInfrastructure/no-changes, 766: Aks_preview - DeployInfrastructure/no-changes

#712 Update Demo AKS in code to match upgrade version
  environments/aks/demo.tfvars
Labels: 766: Genesis_sbox - Genesis/add-or-update, 766: Network_sbox - NetworkRg/no-changes, 766: Aks_sbox - DeployInfrastructure/add-or-update, 766: Aks_sbox - DeployInfrastructuremis/no-changes, 766: Genesis_preview - Genesis/add-or-update, 766: Genesis_ptlsbox - Genesis/add-or-update, 766: Genesis_aat - Genesis/add-or-update, 766: Genesis_demo - Genesis/add-or-update, 766: Genesis_perftest - Genesis/add-or-update, 766: Genesis_ithc - Genesis/add-or-update, 766: Network_preview - NetworkRg/no-changes, 766: Network_ptlsbox - NetworkRg/no-changes, 766: Network_demo - NetworkRg/no-changes, 766: Network_perftest - NetworkRg/no-changes, 766: Network_aat - NetworkRg/no-changes, 766: Network_ithc - NetworkRg/no-changes, 766: Aks_ptlsbox - DeployInfrastructure/no-changes, 766: Aks_ithc - DeployInfrastructure/add-or-update, 766: Aks_aat - DeployInfrastructure/no-changes, 766: Aks_ithc - DeployInfrastructuremis/no-changes, 766: Aks_demo - DeployInfrastructuremis/no-changes, 766: Aks_aat - DeployInfrastructuremis/no-changes, 766: Genesis_ptl - Genesis/add-or-update, 766: Genesis_prod - Genesis/add-or-update, 766: Network_ptl - NetworkRg/no-changes, 766: Network_prod - NetworkRg/no-changes, 766: Aks_ptl - DeployInfrastructure/no-changes, 766: Aks_prod - DeployInfrastructure/add-or-update, 766: Aks_ptl - DeployInfrastructuremis/no-changes, 766: Aks_prod - DeployInfrastructuremis/no-changes, 766: Network_aat - DeployInfrastructure/no-changes, 766: Network_ptl - DeployInfrastructure/no-changes, 766: Aks_demo - DeployInfrastructure/add-or-update

#713 Update Demo01 in code
  environments/aks/demo.tfvars
Labels: 766: Network_sbox - NetworkRg/no-changes, 766: Aks_sbox - DeployInfrastructuremis/no-changes, 766: Genesis_aat - Genesis/add-or-update, 766: Genesis_perftest - Genesis/add-or-update, 766: Network_preview - NetworkRg/no-changes, 766: Network_ptlsbox - NetworkRg/no-changes, 766: Network_demo - NetworkRg/no-changes, 766: Network_perftest - NetworkRg/no-changes, 766: Network_aat - NetworkRg/no-changes, 766: Network_ithc - NetworkRg/no-changes, 766: Aks_ptlsbox - DeployInfrastructure/no-changes, 766: Aks_ithc - DeployInfrastructure/add-or-update, 766: Aks_aat - DeployInfrastructure/no-changes, 766: Aks_ithc - DeployInfrastructuremis/no-changes, 766: Aks_demo - DeployInfrastructuremis/no-changes, 766: Aks_aat - DeployInfrastructuremis/no-changes, 766: Genesis_prod - Genesis/add-or-update, 766: Network_ptl - NetworkRg/no-changes, 766: Network_prod - NetworkRg/no-changes, 766: Aks_ptl - DeployInfrastructure/no-changes, 766: Aks_prod - DeployInfrastructure/add-or-update, 766: Aks_ptl - DeployInfrastructuremis/no-changes, 766: Aks_prod - DeployInfrastructuremis/no-changes, 766: Genesis_preview - Genesis/no-changes, 766: Network_aat - DeployInfrastructure/no-changes, 766: Network_ptl - DeployInfrastructure/no-changes, 766: Aks_sbox - DeployInfrastructure/no-changes, 766: Aks_preview - DeployInfrastructure/no-changes, 766: Aks_demo - DeployInfrastructure/add-or-update, 766: Genesis_sbox - Genesis/no-changes, 766: Genesis_demo - Genesis/no-changes, 766: Genesis_ptlsbox - Genesis/no-changes, 766: Genesis_ithc - Genesis/no-changes, 766: Genesis_ptl - Genesis/no-changes

#714 Update cft preview to newly upgraded version 1.32
  environments/aks/preview.tfvars
Labels: 766: Genesis_sbox - Genesis/add-or-update, 766: Network_sbox - NetworkRg/no-changes, 766: Aks_sbox - DeployInfrastructure/add-or-update, 766: Aks_sbox - DeployInfrastructuremis/no-changes, 766: Genesis_preview - Genesis/add-or-update, 766: Genesis_ptlsbox - Genesis/add-or-update, 766: Genesis_aat - Genesis/add-or-update, 766: Genesis_demo - Genesis/add-or-update, 766: Genesis_perftest - Genesis/add-or-update, 766: Genesis_ithc - Genesis/add-or-update, 766: Network_preview - NetworkRg/no-changes, 766: Network_ptlsbox - NetworkRg/no-changes, 766: Network_demo - NetworkRg/no-changes, 766: Network_perftest - NetworkRg/no-changes, 766: Network_aat - NetworkRg/no-changes, 766: Network_ithc - NetworkRg/no-changes, 766: Aks_ptlsbox - DeployInfrastructure/no-changes, 766: Aks_ithc - DeployInfrastructure/add-or-update, 766: Aks_aat - DeployInfrastructure/no-changes, 766: Aks_ithc - DeployInfrastructuremis/no-changes, 766: Aks_demo - DeployInfrastructuremis/no-changes, 766: Aks_aat - DeployInfrastructuremis/no-changes, 766: Genesis_ptl - Genesis/add-or-update, 766: Genesis_prod - Genesis/add-or-update, 766: Network_ptl - NetworkRg/no-changes, 766: Network_prod - NetworkRg/no-changes, 766: Aks_ptl - DeployInfrastructure/no-changes, 766: Aks_prod - DeployInfrastructure/add-or-update, 766: Aks_ptl - DeployInfrastructuremis/no-changes, 766: Aks_prod - DeployInfrastructuremis/no-changes, 766: Network_aat - DeployInfrastructure/no-changes, 766: Network_ptl - DeployInfrastructure/no-changes, 766: Aks_demo - DeployInfrastructure/add-or-update

#716 DTSPO-25686: Updating kubernetes version on perftest-01
  environments/aks/perftest.tfvars
Labels: 766: Genesis_sbox - Genesis/add-or-update, 766: Network_sbox - NetworkRg/no-changes, 766: Aks_sbox - DeployInfrastructure/add-or-update, 766: Aks_sbox - DeployInfrastructuremis/no-changes, 766: Genesis_preview - Genesis/add-or-update, 766: Genesis_ptlsbox - Genesis/add-or-update, 766: Genesis_aat - Genesis/add-or-update, 766: Genesis_demo - Genesis/add-or-update, 766: Genesis_perftest - Genesis/add-or-update, 766: Genesis_ithc - Genesis/add-or-update, 766: Network_preview - NetworkRg/no-changes, 766: Network_ptlsbox - NetworkRg/no-changes, 766: Network_demo - NetworkRg/no-changes, 766: Network_perftest - NetworkRg/no-changes, 766: Network_aat - NetworkRg/no-changes, 766: Network_ithc - NetworkRg/no-changes, 766: Aks_ptlsbox - DeployInfrastructure/no-changes, 766: Aks_ithc - DeployInfrastructure/add-or-update, 766: Aks_aat - DeployInfrastructure/no-changes, 766: Aks_ithc - DeployInfrastructuremis/no-changes, 766: Aks_demo - DeployInfrastructuremis/no-changes, 766: Aks_aat - DeployInfrastructuremis/no-changes, 766: Genesis_ptl - Genesis/add-or-update, 766: Genesis_prod - Genesis/add-or-update, 766: Network_ptl - NetworkRg/no-changes, 766: Network_prod - NetworkRg/no-changes, 766: Aks_ptl - DeployInfrastructure/no-changes, 766: Aks_prod - DeployInfrastructure/add-or-update, 766: Aks_ptl - DeployInfrastructuremis/no-changes, 766: Aks_prod - DeployInfrastructuremis/no-changes, 766: Network_aat - DeployInfrastructure/no-changes, 766: Network_ptl - DeployInfrastructure/no-changes, 766: Aks_demo - DeployInfrastructure/add-or-update

#717 DTSPO-25686: Updating kubernetes version on aat-00
  environments/aks/aat.tfvars
Labels: 766: Genesis_sbox - Genesis/add-or-update, 766: Network_sbox - NetworkRg/no-changes, 766: Aks_sbox - DeployInfrastructuremis/no-changes, 766: Genesis_ptlsbox - Genesis/add-or-update, 766: Genesis_aat - Genesis/add-or-update, 766: Genesis_demo - Genesis/add-or-update, 766: Genesis_perftest - Genesis/add-or-update, 766: Genesis_ithc - Genesis/add-or-update, 766: Network_preview - NetworkRg/no-changes, 766: Network_ptlsbox - NetworkRg/no-changes, 766: Network_demo - NetworkRg/no-changes, 766: Network_perftest - NetworkRg/no-changes, 766: Network_aat - NetworkRg/no-changes, 766: Network_ithc - NetworkRg/no-changes, 766: Aks_ptlsbox - DeployInfrastructure/no-changes, 766: Aks_ithc - DeployInfrastructure/add-or-update, 766: Aks_ithc - DeployInfrastructuremis/no-changes, 766: Aks_demo - DeployInfrastructuremis/no-changes, 766: Aks_aat - DeployInfrastructuremis/no-changes, 766: Genesis_ptl - Genesis/add-or-update, 766: Genesis_prod - Genesis/add-or-update, 766: Network_ptl - NetworkRg/no-changes, 766: Network_prod - NetworkRg/no-changes, 766: Aks_ptl - DeployInfrastructure/no-changes, 766: Aks_prod - DeployInfrastructure/add-or-update, 766: Aks_ptl - DeployInfrastructuremis/no-changes, 766: Aks_prod - DeployInfrastructuremis/no-changes, 766: Genesis_preview - Genesis/no-changes, 766: Network_aat - DeployInfrastructure/no-changes, 766: Network_ptl - DeployInfrastructure/no-changes, 766: Aks_sbox - DeployInfrastructure/no-changes, 766: Aks_preview - DeployInfrastructure/no-changes, 766: Aks_aat - DeployInfrastructure/add-or-update, 766: Aks_demo - DeployInfrastructure/no-changes

#718 DTSPO-25686: Updating kubernetes version on aat-01
  environments/aks/aat.tfvars
Labels: 766: Genesis_sbox - Genesis/add-or-update, 766: Network_sbox - NetworkRg/no-changes, 766: Aks_sbox - DeployInfrastructuremis/no-changes, 766: Genesis_preview - Genesis/add-or-update, 766: Genesis_ptlsbox - Genesis/add-or-update, 766: Genesis_aat - Genesis/add-or-update, 766: Genesis_demo - Genesis/add-or-update, 766: Genesis_perftest - Genesis/add-or-update, 766: Genesis_ithc - Genesis/add-or-update, 766: Network_preview - NetworkRg/no-changes, 766: Network_ptlsbox - NetworkRg/no-changes, 766: Network_demo - NetworkRg/no-changes, 766: Network_perftest - NetworkRg/no-changes, 766: Network_aat - NetworkRg/no-changes, 766: Network_ithc - NetworkRg/no-changes, 766: Aks_ithc - DeployInfrastructuremis/no-changes, 766: Aks_demo - DeployInfrastructuremis/no-changes, 766: Aks_aat - DeployInfrastructuremis/no-changes, 766: Genesis_ptl - Genesis/add-or-update, 766: Genesis_prod - Genesis/add-or-update, 766: Network_ptl - NetworkRg/no-changes, 766: Network_prod - NetworkRg/no-changes, 766: Aks_ptl - DeployInfrastructuremis/no-changes, 766: Aks_prod - DeployInfrastructuremis/no-changes
